<div class="left">
    <a href="." alt="Index">Index</a>
</div>
<div class="right">
    <form name="search" action="search" method="post">
        <input type="text" name="terms" />
        <input type="submit" value="Search" />
    </form>
</div>
